.boto

i{
    color: black;
    cursor: pointer
}

.prender{
    
}
.apagar{
    display: none;
}


@media(max-width: 575px){
    
}
@media(min-width: 576px) and (max-width:767px){

}
@media(min-width: 768px) and (max-width:991px){

}
@media(min-width: 992px){

}